html,
body {
    height: 100%;
    width: 100%;


}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

span {
    display: inline-block;
}